.container {
  background-color: brown;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  border: solid 2px #000;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.image {
  height: 40rem;
  padding: 0rem 1rem 1rem 1rem;
}

.icon {
  width: 2rem;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
  z-index: 10;
}

.name {
  padding: 0.5rem 0rem 0rem 0.5rem;
}

.listContainer {
  position: absolute;
  background-color: rgba(240, 248, 255, 0.9);
  border-radius: 0.8rem;
  width: 100%;
  height: 100%;
  top: 100%;
  opacity: 0;
  transition: all 0.3s;
}

.listContainerShow {
  top: 0%;
  opacity: 100;
}

.list {
  list-style: none;
  padding: 1rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 1s;
  opacity: 100;
}

.hidden {
  display: none;
}
